<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#f3ebfa">
  <base href="/assets/">
  <!--link rel="icon" href="./img/" type="image/png"-->
  <link rel="stylesheet" href="https://nxrix.github.io/assets/css/style.css?{{site.time|date:'%s%N'}}">
  <title>دضغیب : {{ page.title }}</title>
</head>
<body>
  <div class="body">
    <div class="content">
      {{ content }}
    </div>
  </div>
</body>
<script src="./js/screen.js"></script>
<script>
const fullscreen = () => {
  var div = document.documentElement;
  if (!document.mozFullScreen && !document.webkitFullScreen) {
    if (div.mozRequestFullScreen) {   
      div.mozRequestFullScreen();
    } else {
      div.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
    }
  } else {
    if (document.mozCancelFullScreen) {
      document.mozCancelFullScreen();
    } else {
      document.webkitCancelFullScreen();
    }
  }
}
</script>
</html>
