<!DOCTYPE html>
<html dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/assets/">
  <!--link rel="icon" href="./img/" type="image/png"-->
  <link rel="stylesheet" href="https://nxrix.github.io/assets/css/style.css?{{site.time|date:'%s%N'}}">
  <script src="https://nxrix.github.io/assets/js/theme.js"></script>
  <script src="https://nxrix.github.io/assets/js/screen.js"></script>
  <title>دضغیب : {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://dazgheib.github.io{{ page.url }}" />
  <meta property="og:title" content="دضغیب : {{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:image" content="/assets/img/misc/banners/0.png" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://dazgheib.github.io{{ page.url }}" />
  <meta property="twitter:title" content="دضغیب : {{ page.title }}" />
  <meta property="twitter:description" content="{{ page.description }}" />
  <meta property="twitter:image" content="/assets/img/misc/banners/0.png" />
</head>
<body>
  <div class="top_bar">
    <div class="content" dir="rtl">
      <a class="title-text" href="../">دضغیب</a>
      <div id="theme_btn" onclick="change_theme()" style="margin-right:auto;margin-left:-8px"></div>
    </div>
  </div>
  <div class="body">
    <div class="scroll_wrapper">
      <div class="content">
        {{ content }}
      </div>
    </div>
  </div>
</body>
<script src="./js/screen.js"></script>
<script>
const fullscreen = () => {
  var div = document.documentElement;
  if (!document.mozFullScreen && !document.webkitFullScreen) {
    if (div.mozRequestFullScreen) {   
      div.mozRequestFullScreen();
    } else {
      div.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
    }
  } else {
    if (document.mozCancelFullScreen) {
      document.mozCancelFullScreen();
    } else {
      document.webkitCancelFullScreen();
    }
  }
}
</script>
</html>
